.content-blue{
    color:#42446E;
    font-weight: bold;
    font-size: 45px;
}
/* Default styles for all screen sizes */
/* Default styles for all screen sizes */
.content-div {
    padding-top: 7%;
    
}

/* Responsive styles for screens up to 600 pixels wide */
@media only screen and (max-width: 600px) {
    .content-div {
        padding-top: 10%;
    }
}

/* Responsive styles for screens between 601 and 768 pixels wide */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .content-div {
        padding-top: 8%;
    }
}

/* Responsive styles for screens between 769 and 1024 pixels wide */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .content-div {
        padding-top: 6%;
    }
}

/* Responsive styles for screens larger than 1024 pixels but smaller than a Mac M1 Air */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .content-div {
        padding-top: 4%;
    }
}

/* Responsive styles for screens larger than 1440 pixels */
@media only screen and (min-width: 1441px) {
    .content-div {
        padding-top: 7%; /* Adjust this value based on your design preference */
    }
}





.content-gradient{
    font-weight: bold;
    font-size: 45px;
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-div {
    position: relative;
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div::before {
    content: '';
    position: absolute;
    width: 238px !important; /* Border size (larger than the image) */
    height: 276px !important ;
    border-radius: 50%;
    background: linear-gradient(45deg, #13B0F5,#1EA8F1,#27A1EE,#3497E9,#418DE5,#4C85E1,#577CDD,#6473D9,#7168D4,#7E5FCF,#8758CC,#9051C9,#994AC6,#994AC6,#994AC6,#A640C1,#B039BE,#B932BB,#BF2DB8,#C628B6,#CD23B3,#D41EB1,#E70FAA);
    z-index: 0;
}

@media only screen and (max-width: 600px) {
    .img-div::before {
        width: 98px !important; /* Border size (larger than the image) */
        height: 287px !important ;   
    }
}

/* Responsive styles for screens between 601 and 768 pixels wide */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .img-div::before  {
        width: 227px !important; /* Border size (larger than the image) */
    height: 276px !important ;
    }
}

/* Responsive styles for screens between 769 and 1024 pixels wide */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .img-div::before{
        width: 238px !important; /* Border size (larger than the image) */
    height: 276px !important ;
    }
}

/* Responsive styles for screens larger than 1024 pixels but smaller than a Mac M1 Air */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .img-div::before {
        width: 238px !important; /* Border size (larger than the image) */
        height: 276px !important ;
    }
}
.profile-img {
    border-radius: 50%; /* Circular shape */
    width: 228px !important; /* Image size */
    height: 268px !important;
    object-fit: cover;
    position: relative;
    z-index: 1; /* Ensure the image is above the pseudo-element */
}
/* .home-div{
    min-height: 100vh;
} */


